asgiref autopep8 certifi cffi chardet coreapi coreschema cryptography defusedxml Django django-braces django-cors-headers django-oauth-toolkit djangorestframework djangorestframework-simplejwt drf-social-oauth2 idna itypes Jinja2 MarkupSafe oauthlib Pillow pycodestyle pycparser PyJWT python3-openid pytz requests requests-oauthlib six social-auth-app-django social-auth-core sqlparse toml uritemplate urllib3 channels django-channels drf_yasg django-filter django_jinja
